.about-us__square {
    width: 250px;
    min-height: 250px;
    border: 20px solid #E8C300;
    margin-left: -175px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    margin-top: auto;
    margin-bottom: auto;
}
