@import url(./__photo/gallery__photo.css);

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 -5rem;
}

@media screen and (max-width: 770px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 680px) {
  .gallery {
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% + 10rem);
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .gallery {
    width: calc(100% + 4rem);
  }
}