@import url(./__photo/gallery__photo.css);

.gallery {
  display: flex;
}

@media screen and (max-width: 770px) {
  .gallery {
    display: grid;
    grid-template-rows: 360px 360px;
    grid-template-columns: 360px 360px;
    justify-content: center;
  }
}


@media screen and (max-width: 370px) {
  .gallery {
    display: grid;
    grid-template-rows: repeat(auto-fill, 360px);
    grid-template-columns: 360px;
    justify-content: center;
  }
}