.menu__head-item {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    min-height: 50px;
    margin: 0;
}

.menu__head-item:last-of-type {
    border: none;
}