.about-us__image {
  max-width: 475px;
  object-fit: cover;
  object-position: center;
  max-height: 475px;
  height: 100%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-right: 125px;
  transition: .3s;
}

@media screen and (max-width: 1360px) {
  .about-us__image {
    max-height: 400px;
    height: 100%;
    max-width: 400px;
    margin-right: 110px;
  }
}

@media screen and (max-width: 640px) {
  .about-us__image {
    margin-right: 0;
  }
}