.nav__side {
  display: grid;
  grid-template-columns: repeat(4, minmax(12.5%, 8.3125rem));
  list-style-type: none;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
  padding: 0;
  margin: 0;
}