@import url(./__nav/header__nav.css);
@import url(./__side/header__side.css);
@import url(./__side/_place/header__side_place_header-left.css);
@import url(./__side/_place/header__side_place_header-right.css);
@import url(./__main/header__main.css);
@import url(./__buttons/header__buttons.css);
@import url(./__button/header__button.css);

.header {
  background-image: url(./img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 5rem 1fr 4fr 1fr 5rem;
  grid-template-rows: 6.25rem 1fr;
  grid-template-areas:
    '. nav nav nav .'
    '. side-left main side-right .';
  justify-content: space-between;
  min-height: 400px;
}