.contact__info {
  grid-area: info;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .contact__info {
    flex-direction: column;
    margin: 0 auto;
  }
}

@media screen and (max-width: 770px) {
  .contact__info {
    flex-direction: column;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .contact__info {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
}