.menu__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.875rem;
  column-gap: 6.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .menu__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.25rem;
  }
}