.menu__main-item {
  max-width: 22.6875rem;
  font-family: "Banny";
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #333333;
  margin: 0;
}

@media screen and (max-width:854px) {
  .menu__main-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}