@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

.page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Banny", "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}


.content-title {
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 62.375rem;
  padding: 1.875rem 0;
  position: relative;
}

.content-title_minor{
  font-family: 'Banny';
  font-size: 36px;
  line-height: 48px;
  color: black;
  padding: 100px 0 20px 0;
}

.content-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 3.75rem;
  height: 0.3125rem;
  background-color: #E8C300;
  margin: 0 auto;
  display: block;
  border-radius: 3.125rem;
}

.content-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  max-width: 565px;
  margin: 0 auto;
  padding: 15px 0 50px 0;
}


.contact__forms {
  margin: 0 auto;
  padding: 50px 0 175px 0;
  display: grid;
  grid-template-columns: repeat(6, 210px);
  grid-template-rows: repeat(4, 60px);
  grid-column-gap: 11px;
  grid-row-gap: 10px;
  grid-template-areas:
    "name name email email phone phone"
    "message message message message message message"
    "message message message message message message"
    ". . . button button button";
  width: 1280px;
}

.contact__form {
  border: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
  border-radius: 5px;
  margin-top: 5px;
  padding: 12px 20px;
  font-size: 14px;
  font-family: inherit;
}

input::placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.contact__form_name {
  grid-area: name;
}

.contact__form_email {
  grid-area: email;
}

.contact__form_phone {
  grid-area: phone;
}

.contact__form_message {
  grid-area: message;
}

.submit__button {
  grid-area: button;
  background-color: #e8c300;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.submit__button:hover {
  background-color: #b59800;
  transition: 0.4s;
}

.contact__info {
  display: flex;
  flex-direction: row;
  width: 660px;
}

.contact__item {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  align-self: center;
  width: 100%;
  text-decoration: none;
}

.contact__item:hover {
  opacity: 50%;
  transition: 0.4s;
}
.contact__icon {
  margin-right: 8px;
  max-width: 14px;
  max-height: 14px;
}

.contact__item_number {
  min-width: 260px;
}
