.header__side_place_header-left {
  grid-area: side-left;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: flex-start;
}

@media screen and (max-width: 850px) {
  .header__side_place_header-left {
    margin-top: 20px;
    padding: 20px;
    border-right: none;
    border-left: none;
    justify-content: center;
  }
}