.contact__submit-button {
  grid-area: button;
  background-color: #e8c300;
  width: 100%;
  border-radius: 0.3125rem;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.75rem;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.contact__submit-button:active {
  background-color: #b59800;
}

@media screen and (pointer: fine) {
  .contact__submit-button:hover {
    background-color: #b59800;
  }
}

@media screen and (max-width: 770px) {
  .contact__submit-button {
    height: 3.75rem;
    margin-top: 1.25rem;
  }